<div class="posts">
    <form (submit)="addPost()">
        <label for="inputTitle">Title: </label>
        <br>
        <input
            type="text"
            name="inputTitle"
            placeholder="Title Name"
            [(ngModel)]="inputTitle"
        /> <br>

        <label for="inputAuthor">Author: </label>
        <br>
        <input 
            type="text"
            name="inputAuthor"
            placeholder="Author name"
            [(ngModel)]="inputAuthor"
        /> <br>

        <label for="inputEntry">Journal Entry</label>
        <br>
        <input
            type="text"
            name="inputEntry"
            placeholder="Write Entry"
            [(ngModel)]="inputEntry"
        />
        <input type="submit" value="Submit" class="post-submit">
    </form>
</div>