* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    overflow: auto;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}